{extend name="common/template"}

{block name="content"}
<div class="soup-frame shadow-lg bg-black">
	<div class="soup-background ">
		<div class="soup-background2 "></div>
		<div class="soup-topcontent center-block">
			<div class="soup-topcontent1 wow fadeInUp animated" data-wow-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: fadeInRight;">
				<h1>大汤易语言平台</h1>
				<p>易用，快捷，安全</p>
				<button class="btn btn-primary my-2 my-sm-0" >立即使用</button>
				<button class="btn btn-outline-danger my-2 my-sm-0" >查看文档</button>

			</div>
		</div>
	</div>
</div>

{/block}
