{extend name="common/template"}
{block name="leftnav-manage"}active{/block}
{block name="content"}
<div class="soup-bodycontent ">
	<div class="row">
		<div class="col-12 soup-col-padding" >
			<div class="soup-bodyBlock shadow-sm bg-white ">
				<h5 class="soup-el-pgtitle-sm">我的应用</h5>
				<hr style="margin-top:0px">
				<button type="button" class="btn btn-primary" onclick="window.location.href='newApp'">新建应用</button>
				<button type="button" id="show_manage_app"class="btn btn-outline-success 123" onclick="
				   	$('.soup-js-edit').attr('hidden',false);
			   		$('#show_manage_app').attr('hidden',true);
	   				$('#hide_manage_app').attr('hidden',false);">管理应用</button>
				<button type="button" id="hide_manage_app" class="btn btn-outline-danger" onclick="
					$('.soup-js-edit').attr('hidden',true);
			   		$('#show_manage_app').attr('hidden',false);
	   				$('#hide_manage_app').attr('hidden',true);" hidden>取消管理</button>
				<div class="">
					
					<div class="soup-applist">
						<div class="soup-applist-top-row">
							<span class="soup-applist-top-colum" style="width: 30%">应用名称</span>
							<span class="soup-applist-top-colum" style="width: 10%">版本</span>
							<span class="soup-applist-top-colum" style="width: 10%">状态</span>
							<span class="soup-applist-top-colum soup-js-edit" style="width: 10%" hidden></span>
						</div>
						
						{volist name="app_res" id="app"}
						<div class="soup-applist-content">
							<span>
								<a class="soup-appname" href="showApp?id={$app.id}">{$app.appname}</a>
								<span class="soup-subtitle">{if condition="$app.description == null"}暂无介绍{else /}{$app.description}{/if}</span>
							</span>
							<span>
								{$app.version}
							</span>
							<span> 
									{switch name="$app.status"}
										{case value="0"}
											<span class="badge badge-danger">暂停</span>
										{/case}
										{case value="1"}
											<span class="badge badge-success">正常</span>
										{/case}
									{/switch}
							</span>
							<span class="soup-js-edit" hidden>
								<button type="button" class="btn btn-primary btn-sm"><i class="fas fa-pencil-alt fa-sm"></i> 修改</button>
								<button type="button" class="btn btn-danger btn-sm"><i class="fas fa-times fa-sm"></i> 删除</button>
							</span>
						</div>
					  {/volist}
					</div>
				</div>
				<center>
				</center>
			</div>
		</div>
	</div>
</div>
{/block}
