<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>无标题文档</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="__CSS__/bootstrap.min.css" >
<link rel="stylesheet" href="__CSS__/system.css" >
<link rel="stylesheet" href="__CSS__/system2.css" >
<script src="__JS__/jquery-3.3.1.slim.min.js"> </script>
<script src="__JS__/popper.min.js"> </script>
<script src="__JS__/bootstrap.min.js"> </script>
<style>
	body{
		font-family: 微软雅黑 !important;
		background: #fff;

		letter-spacing: 0.2px
	}
</style>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm  soup-topnav "> 
	<a class="navbar-brand soup-nav-whiteColor" href="#">大汤易语言平台</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
  <div class="collapse navbar-collapse soup-navcontent" id="navbarSupportedContent" >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active"> <a class="nav-link soup-nav-subtitle" href="#top">首页 <span class="sr-only">(current)</span></a> </li>
      <li class="nav-item active"> <a class="nav-link soup-nav-subtitle" href="#feature">特点 <span class="sr-only">(current)</span></a> </li>
      <li class="nav-item active"> <a class="nav-link soup-nav-subtitle" href="#function">优势 <span class="sr-only">(current)</span></a> </li>
		<li class="nav-item active"> <a class="nav-link soup-nav-subtitle" href="#download">下载 <span class="sr-only">(current)</span></a> </li>
      
    </ul>
    <div class="form-inline my-2 my-lg-0">
	  {block name="topnav_login"}
		{switch name="login_status"}
			{case value="1"}
				<img width='30px' src="static/img/avatar_user.png"/>
				<a class="nav-link soup-nav-subtitle" >您好,{$user_name}</a>
				<button class="btn btn-outline-primary rounded-0" onClick="window.location.href='/index.php/admin/manage/index'" >管理控制台</button>
			{/case}
			{case value="0"}
				<button class="btn btn-primary my-2 my-sm-0"  onClick="window.location.href='/index.php/admin/login/index'">登录</button>
				  <span style="margin-left: 5px"></span>
				  <button class="btn btn-outline-success my-2 my-sm-0" onClick="window.location.href='/index.php/admin/login/signup'">注册</button>
			{/case}
		{/switch}
		  
	  {/block}
    </div>
  </div>
</nav>{block name="content"}
  {/block}
</body>
</html>
